.slide-image {
  max-height: 5%;
  max-width: 10%;
  margin: 18px 0;
  margin-left: 300px;
  margin-top: 30px;
}


.search{
  border-block-end-color: #E8775D;
}

ion-list {

.h3 {
  font-weight: bold;
}

.p2 {
  color: #E8775D
}
}