.title {
    margin-top: 200px;
    letter-spacing: 1px;
    font-weight: bold;
}

.info {
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.checkemailbutton{
    text-transform: uppercase;
    margin-top: 245px;
}
