.title {
    margin-top: 200px;
    letter-spacing: 1px;
    font-weight: bold;
}

.info {
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 1px;
}


.label {
    margin-left:25px;
    margin-right: 25px;
}

.resetbutton{
    margin-top: 160px;
}

.cancel {
    text-transform: capitalize;
}





